language: node_js
node_js:
  - stable
install:
  - npm install
script:
  - npm run cover
after_script: cat coverage/lcov.info | node_modules/coveralls/bin/coveralls.js
deploy:
  provider: npm
  email: jp@theqrl.org
  api_key:
    secure: 0zCPBLRbP4w86uad10HGW1kk36nWknULBhZguZtQNsEkeaoMP6fH/RG8hdOUR8yFHgu/7z6tFZHj6FuhtQtMBRt+58lsJyuFkmVskGtz51Us+lRseB+MVeYt4Csd5LlLmpy6bRwbup6j8AQwFEXLn2BmbV4UNsxQsw+z3VE45atfhiQw0Kc/Vo6wcNxwp1mOyAV+IUbEXc++iti1Gywf+ZGdG9IzkIZ2h82O/UBJd6lJ6x0kp9o0UP+MSJe0Czum276UHGB+EL6WLTHJv0AzR4eOX2DS1AQVFMn65DPVBuEUnPaF8WZKfhXaQht7/aV5I2TtsfM+jsX/fWg2GAgUxj3hcYyvErKQv+MAq2WHwTnp5rlaHWM7DjJ43X/hEELMRG5WlzCuNlmjtFI8p4jn7SS5MhwnyTunieGb6PpKf6u0Vs/r4VE6qThrInxamCq/rGoZY8mbMyuub3PpIreWVxvUWPy2WJ2kr/5CoUxFtbSuRxkkxAx589f7+XdA16lZwprldgmacQr5x8UYezZ09dAAe2xoSCialdKXOAvq82cA2jsqaRkNqRfO4cJi9Dwjoy+FstpvFHUe+WKKxebkDiN58PN3MuFwwbNOjgdsoegt/UL0G6jHZTu0qVJXtgKY0cq+K1FX//kLpH4YoUzPb7QdRW7uDRbKpPDEsux5Uz4=
  on:
    tags: true
    branch: master